body,
.sbdocs.sbdocs-wrapper {
  background: var(--usewc-color-document-background) !important;
  color: var(--usewc-color-document-text) !important;
  background-color: var(--usewc-color-document-background) !important;
  font-family: var(--usewc-font-document-family) !important;
  font-size: var(--usewc-layout-document-text-size) !important;
}
