:root {
  /** Space */
  --usewc-space-none: 0;
  --usewc-space-1: 0.0625rem;
  --usewc-space-2: 0.125rem;
  --usewc-space-4: 0.25rem;
  --usewc-space-8: 0.5rem;
  --usewc-space-12: 0.75rem;
  --usewc-space-16: 1rem;
  --usewc-space-24: 1.5rem;
  --usewc-space-32: 2rem;
  --usewc-space-48: 3rem;
  --usewc-space-64: 4rem;
  --usewc-space-128: 8rem;
  --usewc-space-256: 16rem;
  --usewc-space-1-relative: 0.0625em;
  --usewc-space-2-relative: 0.125em;
  --usewc-space-4-relative: 0.25em;
  --usewc-space-8-relative: 0.5em;
  --usewc-space-12-relative: 0.75em;
  --usewc-space-16-relative: 1em;
  --usewc-space-24-relative: 1.5em;
  --usewc-space-32-relative: 2em;
  --usewc-space-48-relative: 3em;
  --usewc-space-64-relative: 4em;
  --usewc-space-128-relative: 8em;
  --usewc-space-256-relative: 16em;

  /** Font size */
  --usewc-font-size-10: 0.625rem;
  --usewc-font-size-12: 0.75rem;
  --usewc-font-size-14: 0.875rem;
  --usewc-font-size-16: 1rem;
  --usewc-font-size-18: 1.125rem;
  --usewc-font-size-24: 1.5rem;

  /** Font weight */
  --usewc-font-weight-light: 300;
  --usewc-font-weight-normal: 400;
  --usewc-font-weight-medium: 500;
  --usewc-font-weight-semibold: 600;
  --usewc-font-weight-bold: 700;
  --usewc-font-weight-black: 900;

  /** Font family */
  --usewc-font-family-sans-serif: system-ui, sans-serif;
  --usewc-font-family-serif: Georgia, serif;
  --usewc-font-family-monospace: monospace;

  /** Line height */
  --usewc-line-height-18: 1.125rem;
  --usewc-line-height-20: 1.25rem;
  --usewc-line-height-24: 1.5rem;
  --usewc-line-height-28: 1.75rem;
  --usewc-line-height-32: 2rem;

  /** Color */
  /* Thanks https://oklch.fyi/create */
  --usewc-color-transparent: transparent;
  --usewc-color-current: currentColor;
  --usewc-color-inherit: inherit;
  --usewc-color-unset: unset;
  --usewc-color-white: #fff;
  --usewc-color-black: #000;
  --usewc-color-gray-900: oklch(0.152 0.002 260.7);
  --usewc-color-gray-800: oklch(0.252 0.004 260.7);
  --usewc-color-gray-700: oklch(0.352 0.005 260.7);
  --usewc-color-gray-600: oklch(0.451 0.007 260.7);
  --usewc-color-gray-500: oklch(0.551 0.009 260.7);
  --usewc-color-gray-400: oklch(0.651 0.007 260.7);
  --usewc-color-gray-300: oklch(0.751 0.005 260.7);
  --usewc-color-gray-200: oklch(0.85 0.003 260.7);
  --usewc-color-gray-100: oklch(0.95 0.001 260.7);
  --usewc-color-blue-900: oklch(0.08 0.054 263.9);
  --usewc-color-blue-800: oklch(0.18 0.122 263.9);
  --usewc-color-blue-700: oklch(0.28 0.19 263.9);
  --usewc-color-blue-600: oklch(0.38 0.258 263.9);
  --usewc-color-blue-500: oklch(0.48 0.314 263.9);
  --usewc-color-blue-400: oklch(0.58 0.246 263.9);
  --usewc-color-blue-300: oklch(0.68 0.182 263.9);
  --usewc-color-blue-200: oklch(0.78 0.121 263.9);
  --usewc-color-blue-100: oklch(0.88 0.064 263.9);
  --usewc-color-red-900: oklch(0.23 0.094 27.5);
  --usewc-color-red-800: oklch(0.32 0.131 27.5);
  --usewc-color-red-700: oklch(0.41 0.167 27.5);
  --usewc-color-red-600: oklch(0.5 0.204 27.5);
  --usewc-color-red-500: oklch(0.59 0.241 27.5);
  --usewc-color-red-400: oklch(0.68 0.208 27.5);
  --usewc-color-red-300: oklch(0.77 0.136 27.5);
  --usewc-color-red-200: oklch(0.86 0.076 27.5);
  --usewc-color-red-100: oklch(0.95 0.025 27.5);
  --usewc-color-indigo-100: #f0f5ff;
  --usewc-color-indigo-200: #e0e9ff;
  --usewc-color-indigo-300: #c7d2fe;
  --usewc-color-indigo-400: #a5b4fc;
  --usewc-color-indigo-500: #818cf8;
  --usewc-color-indigo-600: #6366f1;
  --usewc-color-indigo-700: #4f46e5;
  --usewc-color-indigo-800: #4338ca;
  --usewc-color-indigo-900: #3730a3;

  /** Effect */
  --usewc-effect-border-solid: solid;
  --usewc-effect-border-dashed: dashed;
  --usewc-effect-border-dotted: dotted;
  --usewc-effect-border-double: double;
  --usewc-effect-border-groove: groove;
  --usewc-effect-border-ridge: ridge;
  --usewc-effect-border-radius-none: 0;
  --usewc-effect-border-radius-2: 0.125rem;
  --usewc-effect-border-radius-4: 0.25rem;
  --usewc-effect-border-radius-8: 0.5rem;
  --usewc-effect-border-radius-full: 100%;
}
