:root {
  /* Document */
  /* - Color */
  --usewc-color-document-text: var(--usewc-color-gray-700);
  --usewc-color-document-text-muted: var(--usewc-color-gray-500);
  --usewc-color-document-background: var(--usewc-color-white);
  --usewc-color-canvas-background: var(--usewc-color-white);

  /* Typography */
  --usewc-font-document-size: var(--usewc-font-size-16);
  --usewc-font-document-family: var(--usewc-font-family-sans-serif);
  --usewc-font-code-family: var(--usewc-font-family-monospace);
  --usewc-font-quote-family: var(--usewc-font-family-serif);
  --usewc-font-input-family: inherit;
  --usewc-font-button-family: inherit;

  /* Controls */
  /* - Disabled */
  --usewc-effect-form-opacity-disabled: 0.5;
  /* - Outline (focus indicator) */
  --usewc-color-outline: var(--usewc-color-blue-500);
  --usewc-effect-outline-size: var(--usewc-space-2);
  --usewc-effect-outline-offset: var(--usewc-space-2);
  --usewc-effect-outline-offset-flush: var(--usewc-space-none);
  --usewc-effect-outline-style: solid;
  --usewc-effect-outline-transition: outline 0.05s ease-in-out;
  /* - Link */
  --usewc-color-link-text-static: var(--usewc-color-blue-500);
  --usewc-color-link-text-hover: var(--usewc-color-blue-600);
  --usewc-color-link-text-active: var(--usewc-color-blue-700);
  --usewc-color-link-text-visited: var(--usewc-color-indigo-500);
  --usewc-color-link-text-visited-hover: var(--usewc-color-indigo-600);
  --usewc-color-link-text-visited-active: var(--usewc-color-indigo-700);
  --usewc-effect-link-text-decoration: underline;

  /* Form */
  /* - Color */
  --usewc-color-form-helper-text: var(--usewc-color-gray-500);
  --usewc-color-form-helper-text-invalid: var(--usewc-color-red-500);
  --usewc-color-form-label-text: var(--usewc-color-gray-700);
  /* - Font */
  --usewc-font-form-helper-text-size: var(--usewc-font-size-14);
  --usewc-font-form-label-size: var(--usewc-font-size-16);
  /* - Layout */
  --usewc-layout-form-helper-text-line-height: var(--usewc-line-height-24);
  --usewc-layout-form-label-line-height: var(--usewc-line-height-24);
  --usewc-layout-form-selector-margin-inline: var(--usewc-space-none);
  --usewc-layout-form-selector-margin-block: calc((1lh - 1em) / 2);
  --usewc-layout-form-selector-gap: var(--usewc-space-4);
  --usewc-layout-form-field-gap: var(--usewc-space-4);

  /* Input */
  /* - Color */
  --usewc-color-input-background-static: var(--usewc-color-white);
  --usewc-color-input-border-static: var(--usewc-color-gray-300);
  --usewc-color-input-border-hover: var(--usewc-color-gray-500);
  --usewc-color-input-border-focus: var(--usewc-color-blue-500);
  --usewc-color-input-text-static: var(--usewc-color-gray-700);
  --usewc-color-input-text-placeholder: var(--usewc-color-gray-400);
  --usewc-color-input-border-invalid: var(--usewc-color-red-500);
  --usewc-color-input-segment-background-static: transparent;
  --usewc-color-input-segment-background-hover: transparent;
  --usewc-color-input-segment-background-focus: var(--usewc-color-blue-100);
  --usewc-color-input-segment-text-focus: var(--usewc-color-gray-700);
  --usewc-effect-dropdown-trigger-background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 16L5.0718 8.5L18.9282 8.5L12 16Z' fill='rgba(255,255,255,0.5' /%3E%3C/svg%3E");
  --usewc-effect-dropdown-trigger-nested-background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 12L8.5 18.9282L8.5 5.0718Z' fill='rgba(255,255,255,0.5' /%3E%3C/svg%3E");
  --usewc-effect-dropdown-trigger-background-size: 1em;
  --usewc-effect-dropdown-trigger-background-blend-mode: difference;
  --usewc-effect-menu-item-checkmark-background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 13L10 18L19 7' stroke='rgba(255,255,255,0.5)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C%2Fsvg%3E");
  --usewc-effect-menu-item-checkmark-background-size: 1em;
  --usewc-effect-menu-item-checkmark-background-blend-mode: difference;
  /* - Layout */
  --usewc-layout-input-border: var(--usewc-space-1-relative);
  --usewc-layout-input-padding-block: calc(var(--usewc-space-4) - var(--usewc-layout-input-border));
  --usewc-layout-input-padding-inline: calc(var(--usewc-space-8) - var(--usewc-layout-input-border));
  --usewc-layout-input-gap-inline: var(--usewc-layout-input-padding-inline);
  --usewc-layout-input-segment-padding-inline: var(--usewc-space-2-relative);
  --usewc-layout-input-line-height: var(--usewc-line-height-24);
  /* - Effect */
  --usewc-effect-input-border-style: solid;
  --usewc-effect-input-border-radius: var(--usewc-effect-border-radius-4);
  /* - Font */
  --usewc-font-input-size: var(--usewc-font-size-16);

  /* Range */
  --usewc-layout-range-padding-block: var(--usewc-space-8);
  --usewc-layout-range-thumb-width: var(--usewc-space-16);
  --usewc-layout-range-thumb-height: var(--usewc-space-16);
  --usewc-effect-range-thumb-border-radius: var(--usewc-effect-border-radius-full);
  --usewc-color-range-thumb-background-static: var(--usewc-color-blue-500);
  --usewc-color-range-thumb-background-hover: var(--usewc-color-blue-600);
  --usewc-color-range-thumb-background-active: var(--usewc-color-blue-700);
  --usewc-layout-range-track-height: var(--usewc-space-8);
  --usewc-effect-range-track-border-radius: var(--usewc-effect-input-border-radius);
  --usewc-color-range-track-background-static: var(--usewc-color-gray-100);
  --usewc-color-range-track-background-progress: var(--usewc-color-blue-500);
  --usewc-color-range-track-border-static: oklch(from var(--usewc-color-gray-500) l c h / 0.5);
  --usewc-color-range-track-border-hover: var(--usewc-color-gray-300);
  --usewc-layout-range-track-border: var(--usewc-space-1-relative);

  /* Selector */
  /* - Layout */
  --usewc-layout-selector-width: 1em;
  --usewc-layout-selector-height: 1em;
  --usewc-layout-selector-checkbox-icon-border-size: 0.125em;
  /* - Color */
  --usewc-color-selector-background-static: transparent;
  --usewc-color-selector-background-focus: var(--usewc-color-gray-100);
  --usewc-color-selector-background-hover: oklch(from var(--usewc-color-gray-100) l c h / 0.5);
  --usewc-color-selector-background-checked: var(--usewc-color-blue-400);
  --usewc-color-selector-border-static: var(--usewc-color-gray-300);
  --usewc-color-selector-border-focus: var(--usewc-color-blue-500);
  --usewc-color-selector-border-hover: var(--usewc-color-gray-500);
  --usewc-color-selector-border-checked: var(--usewc-color-selector-background-checked);
  --usewc-color-selector-icon-fill: var(--usewc-color-white);

  /* Button */
  /* - Color */
  /* -- Base color */
  --usewc-color-button-base-background-static: var(--usewc-color-gray-100);
  --usewc-color-button-base-background-static-auxiliary: transparent;
  --usewc-color-button-base-background-hover: var(--usewc-color-gray-200);
  --usewc-color-button-base-background-active: var(--usewc-color-gray-300);
  --usewc-color-button-base-border-static: var(--usewc-color-gray-300);
  --usewc-color-button-base-border-static-auxiliary: var(--usewc-color-gray-300);
  --usewc-color-button-base-border-hover: var(--usewc-color-gray-400);
  --usewc-color-button-base-border-active: var(--usewc-color-gray-500);
  --usewc-color-button-base-text-static: var(--usewc-color-gray-700);
  --usewc-color-button-base-text-static-auxiliary: var(--usewc-color-gray-700);
  --usewc-color-button-base-text-hover: var(--usewc-color-gray-700);
  --usewc-color-button-base-text-active: var(--usewc-color-gray-700);
  /* -- Primary color */
  --usewc-color-button-primary-background-static: var(--usewc-color-blue-500);
  --usewc-color-button-primary-background-static-auxiliary: transparent;
  --usewc-color-button-primary-background-hover: var(--usewc-color-blue-600);
  --usewc-color-button-primary-background-active: var(--usewc-color-blue-700);
  --usewc-color-button-primary-border-static: var(--usewc-color-transparent);
  --usewc-color-button-primary-border-static-auxiliary: var(--usewc-color-blue-500);
  --usewc-color-button-primary-border-hover: var(--usewc-color-blue-600);
  --usewc-color-button-primary-border-active: var(--usewc-color-blue-700);
  --usewc-color-button-primary-text-static: var(--usewc-color-white);
  --usewc-color-button-primary-text-static-auxiliary: var(--usewc-color-blue-500);
  --usewc-color-button-primary-text-hover: var(--usewc-color-white);
  --usewc-color-button-primary-text-active: var(--usewc-color-white);
  /* -- Danger color */
  --usewc-color-button-danger-background-static: var(--usewc-color-red-500);
  --usewc-color-button-danger-background-static-auxiliary: transparent;
  --usewc-color-button-danger-background-hover: var(--usewc-color-red-600);
  --usewc-color-button-danger-background-active: var(--usewc-color-red-700);
  --usewc-color-button-danger-border-static: var(--usewc-color-red-500);
  --usewc-color-button-danger-border-hover: var(--usewc-color-red-600);
  --usewc-color-button-danger-border-active: var(--usewc-color-red-700);
  --usewc-color-button-danger-text-static: var(--usewc-color-white);
  --usewc-color-button-danger-text-static-auxiliary: var(--usewc-color-red-500);
  --usewc-color-button-danger-text-hover: var(--usewc-color-white);
  /* -- Cancel color */
  --usewc-color-button-clear-background-static: transparent;
  --usewc-color-button-clear-background-static-auxiliary: transparent;
  --usewc-color-button-clear-background-hover: var(--usewc-color-gray-100);
  --usewc-color-button-clear-background-active: var(--usewc-color-gray-200);
  --usewc-color-button-clear-border-static: transparent;
  --usewc-color-button-clear-border-static-auxiliary: var(--usewc-color-gray-100);
  --usewc-color-button-clear-border-hover: transparent;
  --usewc-color-button-clear-border-active: transparent;
  --usewc-color-button-clear-text-static: var(--usewc-color-gray-700);
  --usewc-color-button-clear-text-static-auxiliary: var(--usewc-color-gray-700);
  --usewc-color-button-clear-text-hover: var(--usewc-color-gray-700);
  --usewc-color-button-clear-text-active: var(--usewc-color-gray-700);
  /* - Layout */
  --usewc-layout-button-border: var(--usewc-space-1);
  --usewc-layout-button-line-height: var(--usewc-line-height-24);
  /* - Effect */
  --usewc-effect-button-border-radius: var(--usewc-effect-border-radius-4);
  --usewc-effect-button-border-style: solid;
  --usewc-effect-button-background-size: calc(100% + var(--usewc-layout-button-border) * 2)
    calc(100% + var(--usewc-layout-button-border) * 2);
  --usewc-effect-button-background-position: center;
  --usewc-effect-button-background-repeat: no-repeat;
  /* - Sizes */
  /* -- Base size */
  --usewc-layout-button-base-padding-block: calc(var(--usewc-space-4) - var(--usewc-layout-button-border));
  --usewc-layout-button-base-padding-inline: calc(var(--usewc-space-12) - var(--usewc-layout-button-border));
  --usewc-layout-button-base-gap: var(--usewc-space-4);
  --usewc-font-button-base-size: var(--usewc-font-size-16);
  --usewc-font-button-weight: var(--usewc-font-weight-medium);
  /* -- Extra small size */
  --usewc-layout-button-extra-small-padding-block: var(--usewc-space-none);
  --usewc-layout-button-extra-small-padding-inline: calc(var(--usewc-space-8) - var(--usewc-layout-button-border));
  --usewc-layout-button-extra-small-gap: var(--usewc-space-2);
  --usewc-font-button-extra-small-size: var(--usewc-font-size-12);
  --usewc-layout-button-extra-small-line-height: var(--usewc-line-height-18);
  /* -- Small size */
  --usewc-layout-button-small-padding-block: calc(var(--usewc-space-2) - var(--usewc-layout-button-border));
  --usewc-layout-button-small-padding-inline: calc(var(--usewc-space-8) - var(--usewc-layout-button-border));
  --usewc-layout-button-small-gap: var(--usewc-space-2);
  --usewc-font-button-small-size: var(--usewc-font-size-14);
  --usewc-layout-button-small-line-height: var(--usewc-line-height-20);
  /* -- Large size */
  --usewc-layout-button-large-padding-block: calc(var(--usewc-space-4) - var(--usewc-layout-button-border));
  --usewc-layout-button-large-padding-inline: calc(var(--usewc-space-16) - var(--usewc-layout-button-border));
  --usewc-layout-button-large-gap: var(--usewc-space-4);
  --usewc-font-button-large-size: var(--usewc-font-size-18);
  --usewc-layout-button-large-line-height: var(--usewc-line-height-28);
  /* -- Extra large size */
  --usewc-layout-button-extra-large-padding-block: calc(var(--usewc-space-8) - var(--usewc-layout-button-border));
  --usewc-layout-button-extra-large-padding-inline: calc(var(--usewc-space-24) - var(--usewc-layout-button-border));
  --usewc-layout-button-extra-large-gap: var(--usewc-space-8);
  --usewc-font-button-extra-large-size: var(--usewc-font-size-24);
  --usewc-layout-button-extra-large-line-height: var(--usewc-line-height-28);

  /* Menu */
  --usewc-layout-popover-menu-item-padding-inline: var(--usewc-space-4);
  --usewc-layout-popover-menu-item-padding-block: var(--usewc-space-2);
  --usewc-layout-popover-menu-item-line-height: var(--usewc-line-height-24);
  --usewc-color-popover-menu-item-background-static: var(--usewc-color-transparent);
  --usewc-color-popover-menu-item-background-hover: var(--usewc-color-gray-800);
  --usewc-color-popover-menu-item-background-active: var(--usewc-color-gray-800);
  --usewc-effect-popover-menu-item-border-radius: var(--usewc-effect-border-radius-4);
  --usewc-layout-popover-menu-anchor-offset: var(--usewc-space-4);
  --usewc-layout-popover-menu-padding: var(--usewc-space-4);
  --usewc-layout-popover-menu-border: var(--usewc-space-1-relative);
  --usewc-effect-popover-menu-border-style: var(--usewc-effect-border-solid);
  --usewc-color-popover-menu-background: var(--usewc-color-canvas-background);
  --usewc-color-popover-menu-border: var(--usewc-color-gray-600);
  --usewc-effect-popover-menu-border-radius: var(--usewc-effect-border-radius-8);
  --usewc-font-popover-menu-header-size: var(--usewc-font-size-14);
  --usewc-font-popover-menu-header-weight: var(--usewc-font-weight-medium);
  --usewc-color-popover-menu-header-text: var(--usewc-color-gray-400);
  --usewc-font-popover-menu-shortcut-family: var(--usewc-font-family-monospace);
  --usewc-color-popover-menu-shortcut: var(--usewc-color-gray-400);
  --usewc-color-popover-menu-item-text-static: var(--usewc-color-button-base-text-static);
  --usewc-color-popover-menu-item-text-hover: var(--usewc-color-button-base-text-static);
  --usewc-color-popover-menu-item-text-focus: var(--usewc-color-button-base-text-static);

  /* Inline code */
  --usewc-layout-code-padding-inline: var(--usewc-space-4);
  --usewc-layout-code-padding-block: var(--usewc-space-none);
  --usewc-layout-code-line-height: var(--usewc-line-height-20);
  --usewc-effect-code-border-radius: var(--usewc-effect-border-radius-4);
  --usewc-color-code-text: var(--usewc-color-red-700);
  --usewc-color-code-background: oklch(from var(--usewc-color-red-500) l c h / 0.125);
  --usewc-color-code-border: var(--usewc-color-transparent);
  --usewc-font-code-size: var(--usewc-font-size-14);
}

@media (prefers-color-scheme: dark) {
  :root {
    --usewc-color-document-text: var(--usewc-color-gray-200);
    --usewc-color-document-text-muted: var(--usewc-color-gray-300);
    --usewc-color-document-background: var(--usewc-color-gray-800);
    --usewc-color-canvas-background: var(--usewc-color-black);
    --usewc-color-outline: var(--usewc-color-blue-200);
    --usewc-color-input-background-static: oklch(from var(--usewc-color-gray-100) l c h / 0.025);
    --usewc-color-input-border-static: var(--usewc-color-gray-600);
    --usewc-color-input-text-static: var(--usewc-color-gray-200);
    --usewc-color-input-text-placeholder: var(--usewc-color-gray-500);
    --usewc-color-form-label-text: var(--usewc-color-gray-100);
    --usewc-color-form-helper-text: var(--usewc-color-gray-400);
    --usewc-color-form-helper-text-invalid: var(--usewc-color-red-400);
    --usewc-color-button-base-text-static: var(--usewc-color-gray-100);
    --usewc-color-button-base-text-static-auxiliary: var(--usewc-color-gray-300);
    --usewc-color-button-base-text-hover: var(--usewc-color-gray-100);
    --usewc-color-button-base-text-active: var(--usewc-color-gray-100);
    --usewc-color-button-base-background-static: var(--usewc-color-gray-700);
    --usewc-color-button-base-background-hover: var(--usewc-color-gray-600);
    --usewc-color-button-base-background-active: var(--usewc-color-gray-500);
    --usewc-color-button-base-background-static-auxiliary: transparent;
    --usewc-color-button-base-border-static: var(--usewc-color-gray-600);
    --usewc-color-button-base-border-hover: var(--usewc-color-gray-500);
    --usewc-color-button-base-border-active: var(--usewc-color-gray-400);
    --usewc-color-button-base-border-static-auxiliary: var(--usewc-color-gray-600);
    --usewc-color-button-clear-text-static: var(--usewc-color-gray-200);
    --usewc-color-button-clear-text-hover: var(--usewc-color-gray-200);
    --usewc-color-button-clear-background-hover: var(--usewc-color-gray-700);
    --usewc-color-button-clear-border-hover: var(--usewc-color-gray-700);
    --usewc-color-button-clear-text-static-auxiliary: var(--usewc-color-gray-300);
    --usewc-color-button-clear-border-static-auxiliary: var(--usewc-color-gray-600);
    --usewc-color-button-primary-background-static: var(--usewc-color-blue-400);
    --usewc-color-button-primary-background-hover: var(--usewc-color-blue-500);
    --usewc-color-button-primary-background-active: var(--usewc-color-blue-600);
    --usewc-color-button-primary-border-static: var(--usewc-color-blue-400);
    --usewc-color-button-primary-border-hover: var(--usewc-color-blue-500);
    --usewc-color-button-primary-border-active: var(--usewc-color-blue-600);
    --usewc-color-button-primary-text-static: var(--usewc-color-white);
    --usewc-color-button-primary-text-hover: var(--usewc-color-white);
    --usewc-color-button-primary-text-active: var(--usewc-color-white);
    --usewc-color-button-primary-text-static-auxiliary: var(--usewc-color-blue-200);
    --usewc-color-button-primary-border-static-auxiliary: var(--usewc-color-blue-200);
    --usewc-color-button-danger-background-static: var(--usewc-color-red-500);
    --usewc-color-button-danger-background-hover: var(--usewc-color-red-600);
    --usewc-color-button-danger-background-active: var(--usewc-color-red-700);
    --usewc-color-button-danger-border-static: var(--usewc-color-red-500);
    --usewc-color-button-danger-border-hover: var(--usewc-color-red-600);
    --usewc-color-button-danger-border-active: var(--usewc-color-red-700);
    --usewc-color-button-danger-text-static: var(--usewc-color-white);
    --usewc-color-button-danger-text-hover: var(--usewc-color-white);
    --usewc-color-button-danger-text-active: var(--usewc-color-white);
    --usewc-color-button-danger-text-static-auxiliary: var(--usewc-color-red-300);
    --usewc-color-button-danger-border-static-auxiliary: var(--usewc-color-red-300);
    --usewc-color-link-text-static: var(--usewc-color-blue-300);
    --usewc-color-link-text-hover: var(--usewc-color-blue-400);
    --usewc-color-link-text-active: var(--usewc-color-blue-500);
    --usewc-color-code-text: var(--usewc-color-red-200);
    --usewc-color-input-border-hover: var(--usewc-color-gray-500);
    --usewc-color-input-border-focus: var(--usewc-color-blue-200);
    --usewc-color-input-border-invalid: var(--usewc-color-red-300);
    --usewc-color-input-segment-background-focus: var(--usewc-color-blue-100);
    --usewc-color-input-segment-text-focus: var(--usewc-color-gray-700);
    --usewc-color-range-thumb-background-static: var(--usewc-color-blue-400);
    --usewc-color-range-thumb-background-hover: var(--usewc-color-blue-300);
    --usewc-color-range-thumb-background-active: var(--usewc-color-blue-200);
    --usewc-color-range-track-background-static: var(--usewc-color-gray-800);
    --usewc-color-range-track-border-static: var(--usewc-color-gray-700);
    --usewc-color-range-track-border-hover: var(--usewc-color-gray-600);
    --usewc-color-selector-background-hover: oklch(from var(--usewc-color-gray-700) l c h / 0.5);
  }
}
